/**  reset **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    background-color: #add8e6;
    height: 80px;
    padding: 20px 360px 20px 360px;
}

/** utilities classes **/

/* utilities header */
.login{
    flex-grow: 1;
    text-align: end;
}

.logo{
    flex-grow: 1;    
}

.link{
    flex-grow: 5;
    text-align: center;
}

/* utilities main */

.bg-azure{
    background-color: #add8e6;
}

.bg-white{
    background-color: #ffffff;
}

.bg-blue{
    background-color: #00008b;
    border-bottom: 2px solid ;
}

.bg-gray{
    background-color: #d3d3d3;
}

.bg-black{
    background-color: #23272a;
    
}


/** container **/

.container {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

/* container-1 */
.container-1{
    
    display: flex;
    justify-content: space-between;
    

}

.container-1 > nav {
    background-color: #daa520;
    border: 1px dotted black ;
    padding: 10px;
    

}

/* container-2 */

.container-2 {
    width: 800px;
    margin: 0 auto;
}

.container-6 {
    width: 1200px;
    margin: 0 auto;
}



/* row */

.row-1 {
    background-color: #ee82ee;
    border-radius: 10px;
}

.row-2 {
    flex-grow: 1;
    background-color: #1e90ff;
}

.row-3 {
    width: 480px;
    background-color: #ffc0cb;
}


.row-6 {
    background-color: #228b22;
    width: 1200px;
}

/** section **/

main > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/** footer **/




/****** da rimuovere *****/

.debug .row-6 {
    height: 900px;
}

.debug .row-1 {
    height: 400px;
}

